<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PDF body</title>
        <link rel="stylesheet" type="text/css" href="{{ gotenberg_asset('content.css') }}"/>
    </head>
    <body class="invoice-body">
        <main>
            <table>
                <thead>
                <tr>
                    <th class="table-title--left">Order</th>
                    <th class="table-title--left">Service Period</th>
                    <th class="table-title--left">Product Description</th>
                    <th class="table-title--right">Price</th>
                    <th class="table-title--right">Qty</th>
                    <th class="table-title--right">Line Total</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in data.purchases %}
                    <tr>
                        <td class="order-column">{{ purchase.orderId }}</td>
                        <td class="period-column">{{ purchase.period }}</td>
                        <td class="description-column">{{ purchase.description }}</td>
                        <td class="price-column table-column--right">{{ purchase.price }}</td>
                        <td class="qty-column table-column--right">{{ purchase.quantity }}</td>
                        <td class="line-total-column table-column--right">{{ purchase.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="invoice-footer">
                <div class="all-total-container">
                    <div class="total-container">
                        <div class="total-container--left">
                            <p class="total-label">Subtotal</p>
                        </div>
                        <div class="total-container--right">
                            <p>{{ data.invoice.sub_total }}</p>
                        </div>
                    </div>
                    <div class="total-container">
                        <div class="total-container--left">
                            <p class="total-label">Total</p>
                        </div>
                        <div class="total-container--right">
                            <p>{{ data.invoice.total }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-container">
                <div>
                    <p class="contact-label">QUESTIONS?</p>
                </div>
                <div>
                    <p>Submit them by email to example@sensiolabs.com</p>
                </div>
            </div>
        </main>
    </body>
</html>
