<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <main>
            <table>
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Service Period</th>
                    <th>Product Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Line Total</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.orderId }}</td>
                        <td>{{ purchase.period }}</td>
                        <td>{{ purchase.description }}</td>
                        <td>{{ purchase.price|format_currency('USD') }}</td>
                        <td>{{ purchase.quantity }}</td>
                        <td>{{ purchase.total|format_currency('USD') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <div>
                    <div>
                        <div>
                            <p>Subtotal</p>
                        </div>
                        <div>
                            <p>{{ invoice.sub_total|format_currency('USD') }}</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Total</p>
                        </div>
                        <div>
                            <p>{{ invoice.total|format_currency('USD') }}</p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <p>QUESTIONS?</p>
                    </div>
                    <div>
                        <p>Submit them by email to example@sensiolabs.com</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
